.profile {
  padding: 20px;
  overflow: auto;
}

.profile-summary {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-radius: 12px;
  background: var(--second);
  margin-bottom: 16px;
}

.profile-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray);
  border: var(--border-in-light);

  :global(.user-avatar) {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    background: transparent;
  }
}

.profile-name {
  font-weight: bolder;
}

.profile-subtitle {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 4px;
}

.avatar {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.profile-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
